* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-= BODY GLOBAL =-=-=-=-=-=-=-=-=-=-=-=-=-=*/
body {
    background-color: #F4F7E6;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 430%;
    font-weight: 700;
}

h2 {
    font-size: 190%;
    font-weight: 600;
}

h3 {
    font-size: 150%;
    font-weight: 400;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-= INICIO =-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.inicio {
    display: flex;
    background: linear-gradient(270deg, #2CFC71 28.21%, #23C2FF 97.09%);
    color: #F4F7E6;
    width: 100%;
    height: 86%;
    margin-bottom: 2%;
    padding-top: 5%;
    font-weight: bold;
    flex-wrap: wrap;
}

.iniciobimo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    padding-left: 12%;
    margin-top: 10%;
}

#divimginicio {
    display: flex;
    width: 40%;
    justify-content: start;
    align-items: center;
}

#imginicio {
    max-width: 90%;
    max-height: auto;
    padding-left: 15%;
}

#quadrado {
    background-color: #29E7A4;
    position: relative;
    width: 2.11494rem;
    height: 2.10213rem;
    transform: rotate(-45deg);
    /* top: 587.4px; */
    top: 97%;
    right: 38%;
    z-index: -1;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-= FUNÇÕES =-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.funcoes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-= FUNÇÕES HR E TITLE =-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.funcao-hr {
    width: 100%;
    margin: 5% auto 5%;
    height: 6px;
    background-color: #0FAAF1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.funcao-title {
    /* font-size: 50px; */
    color: #0FAAF1;
    text-align: center;    
    background-color: #F4F7E6;
    width: 60%;
}

/* .funcao-title h2 {
    font-size: 100%;
} */

/*=-=-=-=-=-=-=-=-=-=-=-=-=-= CARDS DE FUNÇÕES =-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.cardfuncao {
    padding: 2%;
    width: 50%;
    background-color: #D9D9D9;
    border-radius: 30px;
    text-align: center;
    overflow: hidden;
    height: auto;
    margin: 5% auto 0;
}

.cardfuncao h2 {
    text-align: left;
    margin-left: -10%;
    cursor: pointer;
}

.form-content {
    display: none;
}

.toggle {
    display: none;
}

.toggle:checked + .label-toggle + .form-content {
    display: block;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-= FORMULÁRIOS =-=-=-=-=-=-=-=-=-=-=-=-=-=*/
form {
    margin-top: 3%;
}

label {
    display: block;
    position: relative;
    left: 14%;
    text-align: start;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

input {
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 3px solid #000;
    background-color: #23C2FF;
    opacity: 80%;
    font-size: 16px;
}

button {
    width: 60%;
    margin-top: 4%;
    padding: 4%;
    border-radius: 4vh;
    background: linear-gradient(270deg, #2CFC71 28.21%, #23C2FF 97.09%);
    border: black 3px solid;
    color: black;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}


/*=-=-=-=-=-=-=-=-=-=-=-=-=-= MEDIA QUERIES =-=-=-=-=-=-=-=-=-=-=-=-=-=*/

/* Ajustes para tablets */
@media (max-width: 1024px) {
    h2{
        font-size: 170%;
    }

    .inicio {
        flex-direction: column;
        height: auto;
        padding: 5% 2%;
    }

    .iniciobimo {
        width: 98%;
        padding-left: 0;
        margin-top: 5%;
        text-wrap: balance;
    }

    #divimginicio {
        width: 100%;
        justify-content: center;
    }

    #imginicio {
        display: none;
    }

    .cardfuncao {
        width: 80%;
    }

    input, button {
        width: 90%;
    }

}

/* Ajustes para smartphones */
@media (max-width: 843px) {
    h1 {
        font-size: 300%;
    }

    h2 {
        font-size: 140%;
    }

    .inicio {
        padding-top: 8%;
        text-align: left;
    }

    .iniciobimo {
        width: 90%;
        padding: 5%;
    }

    #quadrado {
        top: 90%;
        right: 25%;
        width: 2rem;
        height: 2rem;
    }

    .funcao-title {
        width: 80%;
    }

    .cardfuncao {
        width: 90%;
        margin: 5% auto;
    }

    input, button {
        width: 100%;
    }

    #imginicio {
        display: none;
    }

    .label-toggle {
        text-wrap: wrap;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: center;
    }

    .funcao-hr, .funcao-title{
        display: none;
    }

}

@media print {
    * {
       display: none;
    }
}